@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-Regular.eot');
	src: local('Platform Regular'), local('Platform-Regular'),
		url('./fonts/Platform-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-Regular.woff2') format('woff2'),
		url('./fonts/Platform-Regular.woff') format('woff'),
		url('./fonts/Platform-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-MediumItalic.eot');
	src: local('Platform Medium Italic'), local('Platform-MediumItalic'),
		url('./fonts/Platform-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-MediumItalic.woff2') format('woff2'),
		url('./fonts/Platform-MediumItalic.woff') format('woff'),
		url('./fonts/Platform-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-BoldItalic.eot');
	src: local('Platform Bold Italic'), local('Platform-BoldItalic'),
		url('./fonts/Platform-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-BoldItalic.woff2') format('woff2'),
		url('./fonts/Platform-BoldItalic.woff') format('woff'),
		url('./fonts/Platform-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Platform Hairline';
	src: url('./fonts/Platform-Hairline.eot');
	src: local('Platform Hairline'), local('Platform-Hairline'),
		url('./fonts/Platform-Hairline.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-Hairline.woff2') format('woff2'),
		url('./fonts/Platform-Hairline.woff') format('woff'),
		url('./fonts/Platform-Hairline.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Platform Hairline';
	src: url('./fonts/Platform-HairlineItalic.eot');
	src: local('Platform Hairline Italic'), local('Platform-HairlineItalic'),
		url('./fonts/Platform-HairlineItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-HairlineItalic.woff2') format('woff2'),
		url('./fonts/Platform-HairlineItalic.woff') format('woff'),
		url('./fonts/Platform-HairlineItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-Medium.eot');
	src: local('Platform Medium'), local('Platform-Medium'),
		url('./fonts/Platform-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-Medium.woff2') format('woff2'),
		url('./fonts/Platform-Medium.woff') format('woff'),
		url('./fonts/Platform-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-RegularItalic.eot');
	src: local('Platform Regular Italic'), local('Platform-RegularItalic'),
		url('./fonts/Platform-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-RegularItalic.woff2') format('woff2'),
		url('./fonts/Platform-RegularItalic.woff') format('woff'),
		url('./fonts/Platform-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-Bold.eot');
	src: local('Platform Bold'), local('Platform-Bold'),
		url('./fonts/Platform-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-Bold.woff2') format('woff2'),
		url('./fonts/Platform-Bold.woff') format('woff'),
		url('./fonts/Platform-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-Light.eot');
	src: local('Platform Light'), local('Platform-Light'),
		url('./fonts/Platform-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-Light.woff2') format('woff2'),
		url('./fonts/Platform-Light.woff') format('woff'),
		url('./fonts/Platform-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Platform';
	src: url('./fonts/Platform-LightItalic.eot');
	src: local('Platform Light Italic'), local('Platform-LightItalic'),
		url('./fonts/Platform-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Platform-LightItalic.woff2') format('woff2'),
		url('./fonts/Platform-LightItalic.woff') format('woff'),
		url('./fonts/Platform-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}




html,
body {
  padding: 0;
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Platform' !important;
    color: #242424 !important;
    letter-spacing: 0.03em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.swiper-button-prev,
.swiper-button-next {
  padding: 20px;
  height: 70px;
  width: 70px;
  color: #1f1f1f !important;
  font-weight:900;
  border-radius: 20px;
  transform: scale(0.6);
  transition-duration: 0.2s;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height:8px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	background-color: white;
	width: auto !important;
	box-shadow: none;
	border-radius: 10px;
	padding: 0px 4px 0px 4px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.11);
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.11);
margin-left:70%;
margin-bottom:5%;
}
.swiper-pagination-bullet-active {
    background:#1f1f1f !important;
    
    border: 2px solid #1f1f1f;
}


@-webkit-keyframes shake {
	from,
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	10%,
	30%,
	50% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0);
	}
  
	20%,
	40% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0);
	}
	60% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(0, 0);
	}
  
  }
  
  @keyframes shake {
	from,
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	10%,
	20%,
	30% {
	  -webkit-transform: translate3d(-3px, 0, 0);
	  transform: translate3d(-3px, 0, 0);
	}
  
	15%,
	35% {
	  -webkit-transform: translate3d(3px, 0, 0);
	  transform: translate3d(3px, 0, 0);
	}
	40% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(0, 0);
	}
  }
  
  .shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }